body {
 width:100%;
 height:100%;
}

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
    
}

#menu li{
    float: left;
    background-color: aqua;
  
}

#menu li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#menu ul li a {
 text-decoration: none;
 color: rgb(153, 153, 153);
 display:block;
}

#menu ul li a:hover {
 background-color: rgb(92, 92, 92);
}

#menu ul li ul li{
 display: none;
}

#menu ul li:hover ul li {
 display: block;
}